.all-card {
  border-radius: 12px !important;
  position: absolute;
  margin-bottom: 24px;
  width: 60vw;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  top: 20%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-contents {
  padding: 24px;
}

.form-contents {
  margin-bottom: 24px;
}